body {
  margin: 0;
  font-family: Arial, sans-serif;
 background-color: #ff0000;
}

/* konten utama */
.dashboard_layout {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

/* Grid card */
.card-btn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

/* Card service */
.service-card {
    display: block;
    padding: 30px 25px;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: #000000;
    width: 260px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card.green {
    color: #fff;
    border: 2px solid #fff; 
}

.service-card.blue {
    color: #fff;
    border: 2px solid #fff; 
   
}

.service-card h3 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

.service-card p {
    font-size: 14px;
    color: #00bae9;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


/* Sidebar default: tersembunyi di kanan */
.sidebar {
    position: fixed;
    top: 0;
    right: -200px; /* disembunyikan */
    width: 200px;
    height: 100vh;
    background: #111;
    color: #fff;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Saat aktif: muncul */
.sidebar.active {
  right: 0;
}

/* Tombol hamburger */
.hamburger {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 24px;
    background: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1100;
    transition: 0.3s;
}

/* Kalau sidebar aktif, hamburger sembunyi */
.sidebar.active ~ .hamburger {
    display: none;
}


/* Foto profil */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #2d593f;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.profile-img:hover {
    opacity: 0.8;
  }

/* menu */
.menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.menu li {
    margin: 6px 0;
}

.menu-link {
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: background 0.3s;
}

.menu-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Logout button */
.logout-btn {
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 14px;
    border-radius: 8px;
}
.logout-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}
